1) STM32F446 / Nucleo-64 Board [ https://www.amazon.com/gp/product/B01I8XLEM8 ] 
2) One 5ohm LED [ https://www.sparkfun.com/products/9590 ]
3) Mini PushButton Switch [ https://www.sparkfun.com/products/97 ]
